<%= form_with(model: product, local: true, html: { multipart: true }) do |form| %>
  <% if product.errors.any? %>
    <div>
      <%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:
      <ul>
        <% product.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name %>
  <%= form.text_field :name, placeholder: "Enter product name" %>

  <%= form.label :description %>
  <%= form.trix_editor :description, placeholder: "Enter product description" %>

  <%= form.label :images %>
  <%= form.file_field :images, multiple: true %>

  <%= form.label :price %>
  <%= form.text_field :price, placeholder: "Enter product price" %>

  <%= form.label :category_id %>
  <%= form.select :category_id, options_from_collection_for_select(Category.all, 'id', 'name', product.category_id), { include_blank: true } %>

  <%= form.submit value: "Save Product" %>
<% end %>
